/* Styling for Signup Image */
.SingUp-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* Background Color for Certain Sections */
.bg-color {
  background-color: #783937;
}

/* Text Color for Background Sections */
.bg-color-text {
  color: #783937;
  font-weight: 700;
}

/* Background Color for a Section */
.bg-color-section {
  background-color: #fff0e1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* White Text Color with Bold Font */
.color-white {
  color: white;
  font-weight: 700;
}

/* Custom Button Color */
.btn-custom-color {
  background-color: #f1ac88;
  color: white;
}

/* Hover Effect for White Text */
.color-white:hover {
  background-color: #f1ac88;
  box-shadow: 1px 3px 8px 1px #783937;
}

/* Hover Effect for Custom Buttons */
.btn-custom-color:hover {
  background-color: #783937;
  box-shadow: 1px 3px 8px 1px #f1ac88;
}
